.signup-fluidcontainer{
    .signup-container{
        border-radius: 10px;
        background-color:rgb(60, 59, 59);
        margin:05rem 10rem;
        color: white;
    }
    .sideimg{
        height: 100%;
    }
    .center-col{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
    .input-width{
        width: 100%;
    }
}

.login-fluidcontainer{
    .login-container{
        border-radius: 10px;
        background-color:rgb(60, 59, 59);
        margin:05rem 10rem;
        color: white;
    }
    .sideimg{
        height: 100%;
    }
    .logininput-width{
        width: 20rem;
    }
    .login-btn{
        width: 20rem;
    }
    .icon-google{
        font-size: 25px;
    }
}
@media only screen and (max-width:850px){
    .logininput-width{
        max-width: 100%;
    }
    .login-btn{
       max-width: 100%;
    }
}